header{
  text-align: center;
}

img{
  display: block;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

a{
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(243, 139, 139);
}

figcaption{
  text-align: center;
  font-size: medium;
}

section > p{
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%
}